{% extends 'base.html' %}

{% block header %}
  <h1>NM Variants</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('exoncheck.create') }}">Upload variant/gene</a>
    <a class="action" href="{{ url_for('exoncheck.output') }}">View previous variant uploads</a>
    <a class="action" href="{{ url_for('exoncheck.gene_output') }}">View previous gene uploads</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for variant in NM_variants %}
  <ul>
    <li><a class="click-to-fill" href="#submit">{{ variant }}</a></li>
  </ul>
  {% endfor %}

  <form method="post">
    <label for="input_variant">Variant (HGVS format)</label>
    <input name="input_variant" id="input_variant" value="{{ request.form['input_variant'] }}" >
      <input type="submit" id="submit" value="Save">
  </form>

  <script>
    const input= document.querySelector('#input_variant');
    const links = document.querySelectorAll('.click-to-fill');

    for (const link of links) {
      link.addEventListener('click', (event) => {
        event.preventDefault();
        input.value = event.target.textContent;
      });
    }
  </script>
{% endblock %}
