{% extends 'base.html' %}

{% block header %}
  <h1>Previous uploads</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('blog.create') }}">Upload variant</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for post in posts %}
  <article class="post">
    <h1>{{ post['MANE_select_NM_variant'] }} </h1>
    <pre>(<a class="action" href="{{ url_for('blog.update', id=post['id']) }}">Delete</a>) </pre>
      <header>
        <div>
          <h3>GENE</h3>
          <pre>Gene symbol:                                 {{ post['gene_symbol'] }}                                                                 <b>Eligibility:</b> {{ post['elig'] }}</pre>
          <pre>ENSG gene id:                                {{ post['ENSG_gene_id'] }}</pre>

          <h3>PROTEIN</h3>
          <pre>Recommended name:                            {{ post['prot_name'] }}</pre>
          <pre>Protein symbol:                              {{ post['short_name'] }}</pre>

          <h3>VARIANT</h3>
          <pre>---GENOMIC---</pre>
          <pre>NC description:                              {{ post['NC_variant'] }}</pre>
          <pre>Strand:                                      {{ post['strand'] }}</pre>
          <pre>                                             {{ post['hg38_variant'] }}</pre>

          <pre>---TRANSCRIPT---</pre>
          <pre>MANE select                                  {{ post['MANE_select_NM_variant'] }} </pre>
          <pre>                                             {{ post['MANE_select_ENST_variant'] }} </pre>

          <pre>---PROTEIN---</pre>
          <pre>Mutation:                                    {{ post['consequence_variant'] }} </pre>

          <h3>EXON TO BE SKIPPED</h3>
          <pre>---GENOMIC---</pre>
          <pre>Exon number:                                 {{ post['exon_number'] }} / {{ post['total_exons'] }}  (Coding: {{ post['coding_exons'] }})                          <b>{{post['exon_number_interpretation']}}</b></pre>
          <pre>Hg38 description:                            {{ post['NC_exon'] }}</pre>
          <pre>Exon length:                                 {{ post['exon_length'] }} / {{ post['total_protein_length'] }} ({{ post['percentage_length'] }}%) (aa)                                  <b>{{ post['length_condition'] }}</b></pre>
          <pre>Distance to nearest exon boundary:           {{ post['nearest_splice_distant'] }} (nt) (from {{ post['nearest_end'] }})                            <b>{{ post['splice_dist_interpretation'] }}</b></pre>
          <pre>Frame:                                       {{ post['frame'] }}</pre>

          <pre>---TRANSCRIPT---</pre>
          <pre>Skip:                                        {{ post['MANE_select_NM_exon'] }} </pre>
          <pre>                                             {{ post['r_exon_skip'] }}</pre>
<!--          <pre>                                                   {{ post['MANE_select_ENST_exon'] }} </pre>-->

          <pre>---PROTEIN---</pre>
          <pre>Consequence of skipping:                     {{ post['consequence_skipping'] }}</pre>

          <h3>DOMAIN INFO</h3>
          <pre>Uniprot:                                     <a href="{{ post['uniprot_link'] }}" target="_blank" rel="noopener noreferrer">{{ post['uniprot_link'] }}</a></pre>
          <pre>Domain:                                      {{ post['domain_info'] }}</pre>

          <h3>EXPRESSION INFO</h3>
          <pre>GTEX Portal:                                 <a href="{{ post['gtex_link'] }}" target="_blank" rel="noopener noreferrer">{{ post['gtex_link'] }}</a></pre>
          <pre>Expression brain:                            {{ post['expression_brain'] }}</pre>
          <pre>Expression fibroblasts:                      {{ post['expression_fibroblasts'] }}</pre>
          <pre>Expression tibial_nerve:                     {{ post['expression_tibial_nerve'] }}</pre>
          <pre>Expression blood:                            {{ post['expression_blood'] }}</pre>
          <pre>Expression tr. lymphocytes:                  {{ post['expression_transformed_lymphocytes'] }}</pre>
          <pre>Expression periphery retina:                 {{ post['expression_periphery_retina'] }}</pre>
          <pre>Expression center retina:                    {{ post['expression_center_retina'] }}</pre>

          <h3>LOVD INFO</h3>
          <pre># exact LOVD matches:                        {{ post['lovd_output'] }}</pre>

          <h3>LINKS</h3>
          <pre>OMIM:                                        <a href="{{ post['omim_link'] }}" target="_blank" rel="noopener noreferrer">{{ post['omim_link'] }}</a></pre>
          <pre>gnomAD:                                      <a href="{{ post['gnomAD_link'] }}" target="_blank" rel="noopener noreferrer">{{ post['gnomAD_link'] }}</a></pre>
          <pre>Decipher:                                    <a href="{{ post['decipher_link'] }}" target="_blank" rel="noopener noreferrer">{{ post['decipher_link'] }}</a></pre>
          <pre>ClinVar:                                     <a href="{{ post['clinvar_link'] }}" target="_blank" rel="noopener noreferrer">{{ post['clinvar_link'] }}</a></pre>

        </div>
      </header>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
