{% extends 'base.html' %}

{% block header %}
  <h1>Welcome</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('blog.create') }}">Upload variant</a>
    <a class="action" href="{{ url_for('blog.output') }}">View previous uploads</a>
  {% endif %}
{% endblock %}

{% block content %}
  <pre>
    Exoncheck is a tool to evaluate the eligibility of exonic variants
    for exon-skipping ASO treatments. The tool is currently being developed
    by Iris Huitink and Sowmiyaa Kumar under the supervision of Marlen Lauffer.
    For further information and interest in this tool, please reach out to
    dcrt@lumc.nl.
  </pre>
{% endblock %}
